<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>%d [%-5level] [%thread] %logger{36} - %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.labijie.infra.oauth2" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>